# --- Python Artifacts ---
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
.venv/
env/
*.egg-info/
.pytest_cache/
.mypy_cache/

# --- dbt Artifacts ---
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/
dbt_project/.user.yml

# --- Dagster Artifacts ---
dagster_project/.tmp_dagster_home_*/
dagster_project/dagster_home/
dagster_project/storage/

# --- IDE & System ---
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# --- Data & Storage ---
data/raw/*.csv
postgres_data/
logs/

# --- Credentials & Secrets ---
*.json
.env
.env.*

# --- Profiles Configuration ---
# 1. Ignore local profiles (Contains real passwords/paths)
profiles.yml
**/profiles.yml

# 2. Track Docker profile (Contains variables only, safe for Git)
!profiles-docker.yml
