# Python
venv/
__pycache__/
*.pyc

# Credentials 
*.json
.env
profiles.yml
profiles-docker.yml
**/profiles.yml
**/profiles-docker.yml

# Data files 
data/raw/*.csv

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/

# Dagster
dagster_project/dagster_home/
dagster_project/storage/
dagster_project/*.egg-info/
dagster_project/.dagster_home/

# Docker
postgres_data/

# IDE
.vscode/
.DS_Store